In [21]:
ls ../data-results/Geoduck-transcriptome_v3_bigtable*

../data-results/Geoduck-transcriptome_v3_bigtable_v08.csv
../data-results/Geoduck-transcriptome_v3_bigtable_v08.tab
../data-results/Geoduck-transcriptome_v3_bigtablefinal.csv.zip

In [40]:
!head -2 ../data-results/Geoduck-transcriptome_v3_bigtable_v08.tab

ContigID	length	GC_content	CpG_o/e	male_unique_count	female_unique_count	sex-based_expresssion	Blastx_UniProt_Acc	EntryName	ProteinName	Organism	Evalue	Gene_Ontology_ID	Gene_Ontology	PFAM	Blastn_Gigaton-ID	evalue-Gigaton	Blastn_Ruphibase-ID	evalue-Ruphibase	Blastn_Sigenae-ID	evalue-Sigenae	Dheilly_Cluster	Dheilly_Tissue-enriched-expression
comp137246_c1_seq26	1458	45.4047	0.71921162	0	0		P12716	ACTC_PISOC	"Actin, cytoplasmic"	Pisaster ochraceus (Ochre sea star) (Asterias ochracea)	0	GO:0005524; GO:0005737; GO:0005856	ATP binding; cytoplasm; cytoskeleton	PF00022;	CHOYP_LOC101072885.1.1	0	ruditapes_lrc32388	0	CU684679.p.cg.6	3.00E-64	1

In [43]:
!wc -l \
../data-results/Geoduck-transcriptome_v3_bigtable_v08.tab

  153982 ../data-results/Geoduck-transcriptome_v3_bigtable_v08.tab

In [4]:
!awk -F $'\t' '{print $1}' ../data-results/Geoduck-transcriptome_v3_bigtable_v08.tab \
| sort | uniq | wc -l

  153983

In [12]:
#SP
!awk -F $'\t' '{print $8}' ../data-results/Geoduck-transcriptome_v3_bigtable_v08.tab \
| sed '/^$/d' | wc -l

   22975

In [13]:
#GO
!awk -F $'\t' '{print $13}' ../data-results/Geoduck-transcriptome_v3_bigtable_v08.tab \
| sed '/^$/d' | wc -l

   21683

In [16]:
#GO
!awk -F $'\t' '{print $13}' ../data-results/Geoduck-transcriptome_v3_bigtable_v08.tab \
| sed '/^$/d' | head

Gene_Ontology_ID
GO:0005524; GO:0005737; GO:0005856
GO:0030018; GO:0003779; GO:0031532; GO:0005509; GO:0007016; GO:0007629; GO:0005925; GO:0045214
GO:0005524; GO:0016021; GO:0007275; GO:0018108; GO:0004714; GO:0007169
GO:0030866; GO:0005737; GO:0022604
GO:0003677; GO:0005794; GO:0001525; GO:0046872; GO:0030033; GO:0005634; GO:0045893; GO:0003700; GO:0035914; GO:0006366
GO:0005524; GO:0003774; GO:0030016; GO:0032982
GO:0017123; GO:0032859; GO:0005829; GO:0005739; GO:0005634; GO:0006355
GO:0050661; GO:0009650; GO:0009060; GO:0004046; GO:0004096; GO:0008203; GO:0020037; GO:0020027; GO:0042744; GO:0046872; GO:0005739; GO:0032088; GO:0043066; GO:0005778; GO:0051092; GO:0051781; GO:0014068; GO:0051289; GO:0006641
GO:0007155; GO:0005737; GO:0005856
sed: stdout: Broken pipe
awk: write error on /dev/stdout
 input record number 823, file ../data-results/Geoduck-transcriptome_v3_bigtable_v08.tab
 source line number 1

In [16]:
#GO
!awk -F $'\t' '{print $13}' ../data-results/Geoduck-transcriptome_v3_bigtable_v08.tab \
| sed '/^$/d' | head

Gene_Ontology_ID
GO:0005524; GO:0005737; GO:0005856
GO:0030018; GO:0003779; GO:0031532; GO:0005509; GO:0007016; GO:0007629; GO:0005925; GO:0045214
GO:0005524; GO:0016021; GO:0007275; GO:0018108; GO:0004714; GO:0007169
GO:0030866; GO:0005737; GO:0022604
GO:0003677; GO:0005794; GO:0001525; GO:0046872; GO:0030033; GO:0005634; GO:0045893; GO:0003700; GO:0035914; GO:0006366
GO:0005524; GO:0003774; GO:0030016; GO:0032982
GO:0017123; GO:0032859; GO:0005829; GO:0005739; GO:0005634; GO:0006355
GO:0050661; GO:0009650; GO:0009060; GO:0004046; GO:0004096; GO:0008203; GO:0020037; GO:0020027; GO:0042744; GO:0046872; GO:0005739; GO:0032088; GO:0043066; GO:0005778; GO:0051092; GO:0051781; GO:0014068; GO:0051289; GO:0006641
GO:0007155; GO:0005737; GO:0005856
sed: stdout: Broken pipe
awk: write error on /dev/stdout
 input record number 823, file ../data-results/Geoduck-transcriptome_v3_bigtable_v08.tab
 source line number 1

In [17]:
#PFAM
!awk -F $'\t' '{print $15}' ../data-results/Geoduck-transcriptome_v3_bigtable_v08.tab \
| sed '/^$/d' | head

PFAM
PF00022;
PF00307;PF13405;PF08726;PF00435;
PF00757;PF14843;PF07714;PF01030;
PF06367;PF06371;PF02181;
PF00096;
PF00063;PF02736;PF01576;
PF02145;
PF00199;PF06628;
PF00514;
sed: stdout: Broken pipe
awk: write error on /dev/stdout
 input record number 4309, file ../data-results/Geoduck-transcriptome_v3_bigtable_v08.tab
 source line number 1

In [18]:
#PFAM
!awk -F $'\t' '{print $15}' ../data-results/Geoduck-transcriptome_v3_bigtable_v08.tab \
| sed '/^$/d' | wc -l

   21365

In [19]:
#gigton
!awk -F $'\t' '{print $16}' ../data-results/Geoduck-transcriptome_v3_bigtable_v08.tab \
| sed '/^$/d' | head

Blastn_Gigaton-ID
CHOYP_LOC101072885.1.1
CHOYP_ACTN.1.2
CHOYP_EGFR.1.3
CHOYP_ISCW_ISCW017809.2.2
CHOYP_EF1A.4.4
CHOYP_MYS.2.7
CHOYP_RGPA1.1.1
CHOYP_CAT.1.1
CHOYP_ATC1.1.1
sed: stdout: Broken pipe
awk: write error on /dev/stdout
 input record number 6765, file ../data-results/Geoduck-transcriptome_v3_bigtable_v08.tab
 source line number 1

In [20]:
#gigaton
!awk -F $'\t' '{print $16}' ../data-results/Geoduck-transcriptome_v3_bigtable_v08.tab \
| sed '/^$/d' | wc -l

   11824

In [22]:
#Ruphibase
!awk -F $'\t' '{print $18}' ../data-results/Geoduck-transcriptome_v3_bigtable_v08.tab \
| sed '/^$/d' | head

Blastn_Ruphibase-ID
ruditapes_lrc32388
ruditapes_c13583
ruditapes_c29187
ruditapes2_c1441
ruditapes_c20089
ruditapes_c28944
ruditapes_c4275
ruditapes_c19472
ruditapes_c21039
sed: stdout: Broken pipe
awk: write error on /dev/stdout
 input record number 49010, file ../data-results/Geoduck-transcriptome_v3_bigtable_v08.tab
 source line number 1

In [23]:
#ruphibase
!awk -F $'\t' '{print $18}' ../data-results/Geoduck-transcriptome_v3_bigtable_v08.tab \
| sed '/^$/d' | wc -l

    2860

In [24]:
#Dheilly
!awk -F $'\t' '{print $22}' ../data-results/Geoduck-transcriptome_v3_bigtable_v08.tab \
| sed '/^$/d' | head

Dheilly_Cluster
1
1
1
1
1
1
1
2
2

In [29]:
#Dheilly
!awk -F $'\t' '{print $22}' ../data-results/Geoduck-transcriptome_v3_bigtable_v08.tab \
| sed '/^$/d' | sort | uniq -c

   7 1
   2 10
   6 2
  12 3
  13 4
  36 5
   8 6
  19 7
  32 8
  26 9
   1 Dheilly_Cluster

In [25]:
#Dheilly
!awk -F $'\t' '{print $22}' ../data-results/Geoduck-transcriptome_v3_bigtable_v08.tab \
| sed '/^$/d' | wc -l

     162

In [39]:
!awk -F $'\t' '{print $7}' ../data-results/Geoduck-transcriptome_v3_bigtable_v08.tab \
| sort | uniq -c | sort -nr

153430
 339 female>male
 136 male>female
  42 female
  35 male
   1 sex-based_expresssion

In [44]:
!awk -F $'\t' '{print $8}' ../data-results/Geoduck-transcriptome_v3_bigtable_v08.tab \
| sort | uniq -c | sort -nr | head

131008
  47 P08548
  33 O60290
  32 Q4LDE5
  32 Q09575
  32 P14381
  31 P21328
  28 Q9NBX4
  27 Q7TN88
  27 E9Q555
sort: write failed: standard output: Broken pipe
sort: write error